@font-face {
  font-family: "iconfont-tools"; /* Project id 4664868 */
  src: url('iconfont.woff2?t=1724848984695') format('woff2'),
       url('iconfont.woff?t=1724848984695') format('woff'),
       url('iconfont.ttf?t=1724848984695') format('truetype');
}

.iconfont-tools {
  font-family: "iconfont-tools" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tools-convertor-case:before {
  content: "\e637";
}

.icon-tools-validator-json:before {
  content: "\ea42";
}

.icon-tools-timer-countdown:before {
  content: "\e708";
}

.icon-tools-timer-world-clock:before {
  content: "\e601";
}

.icon-tools-timer-clock:before {
  content: "\e631";
}

.icon-tools-timer-count-timer:before {
  content: "\e6c5";
}

.icon-tools-timer-chronograph:before {
  content: "\e642";
}

.icon-tools-timer-timestamp:before {
  content: "\e6cb";
}

.icon-tools-validator-mysql:before {
  content: "\ec29";
}

.icon-tools-validator-email:before {
  content: "\e856";
}

.icon-tools-validator-phone-num:before {
  content: "\e860";
}

.icon-tools-validator-regular-expression:before {
  content: "\e600";
}

.icon-tools-codec-url:before {
  content: "\e64c";
}

.icon-tools-codec-base64:before {
  content: "\e6c3";
}

.icon-tools-programming-js:before {
  content: "\e636";
}

.icon-tools-programming-css:before {
  content: "\e605";
}

.icon-tools-convertor-text:before {
  content: "\e959";
}

.icon-tools-convertor-unit:before {
  content: "\ec52";
}

.icon-tools-convertor-ip-domain:before {
  content: "\e6ca";
}

.icon-tools-convertor:before {
  content: "\e69c";
}

