@font-face {
  font-family: "iconfont-common"; /* Project id 4686112 */
  src: url('iconfont.woff2?t=1726926614886') format('woff2'),
       url('iconfont.woff?t=1726926614886') format('woff'),
       url('iconfont.ttf?t=1726926614886') format('truetype');
}

.iconfont-common {
  font-family: "iconfont-common" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-common-loading:before {
  content: "\e644";
}

.icon-common-search:before {
  content: "\e612";
}

