@font-face {
  font-family: "iconfont-tools"; /* Project id 4664868 */
  src: url('iconfont.woff2?t=1730876106983') format('woff2'),
       url('iconfont.woff?t=1730876106983') format('woff'),
       url('iconfont.ttf?t=1730876106983') format('truetype');
}

.iconfont-tools {
  font-family: "iconfont-tools" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tools-transfer:before {
  content: "\e812";
}

.icon-tools-bill:before {
  content: "\e695";
}

.icon-tools-change:before {
  content: "\e614";
}

.icon-tools-voice:before {
  content: "\e67f";
}

.icon-tools-triangle-right:before {
  content: "\e604";
}

.icon-tools-wechat:before {
  content: "\e65b";
}

.icon-tools-palette:before {
  content: "\e603";
}

.icon-tools-time-unit:before {
  content: "\e602";
}

.icon-tools-img-base64:before {
  content: "\e781";
}

.icon-tools-alarm:before {
  content: "\e63f";
}

.icon-tools-sql:before {
  content: "\e60f";
}

.icon-tools-case:before {
  content: "\e637";
}

.icon-tools-json:before {
  content: "\ea42";
}

.icon-tools-countdown:before {
  content: "\e708";
}

.icon-tools-world-clock:before {
  content: "\e601";
}

.icon-tools-clock:before {
  content: "\e631";
}

.icon-tools-count-timer:before {
  content: "\e6c5";
}

.icon-tools-chronograph:before {
  content: "\e642";
}

.icon-tools-timestamp:before {
  content: "\e6cb";
}

.icon-tools-mysql:before {
  content: "\ec29";
}

.icon-tools-email:before {
  content: "\e856";
}

.icon-tools-phone:before {
  content: "\e860";
}

.icon-tools-regular-expression:before {
  content: "\e600";
}

.icon-tools-url:before {
  content: "\e64c";
}

.icon-tools-base64:before {
  content: "\e6c3";
}

.icon-tools-js:before {
  content: "\e636";
}

.icon-tools-css:before {
  content: "\e605";
}

.icon-tools-text:before {
  content: "\e959";
}

.icon-tools-length-unit:before {
  content: "\ec52";
}

.icon-tools-ip-domain:before {
  content: "\e6ca";
}

.icon-tools-convertor:before {
  content: "\e69c";
}

